/* Variables used throughout will go here. */

/* Color Palette */
$color-black: #000000;
$color-primary: #3E50B4;
$color-accent: #FF3F80;
$color-appBar: #212121;
$color-background: #303030;
$color-cards: #424242;
$color-text: #FFFFFF;
$secondaryText:0.7;
$disabledText:0.5;